<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Test</h1>
	<input id="input1" type="file" accept="text/xml"/>
	<input id="btn" type="button" onclick="test()" value="上传"/>
	<script type="text/javascript">
		function test(){
			alert('{"tranCode":"MP10001","tranMsg":"文件上传成功"}');
		}
	</script>
</body>
</html>